# Create MongoDB Database

In [22]:
from pymongo import MongoClient,ASCENDING
from pymongo.errors import BulkWriteError

def store_data():
    student = MongoClient('mongodb://localhost:27017/')
    
    ds = student["grades_db"]
    
    grades_collection = ds["grades"]
    
    grades_collection.create_index([('Name', ASCENDING)], unique=True)

    grades_data = [
    {"Name": "Govardhan Reddy Baddala", "MATH608": 5, "MATH615": 8, "CSCI605": 7, "ERTH600": 6},
    {"Name": "Tushar A Bendarkar", "MATH608": 5, "MATH615": 7, "CSCI605": 10, "ERTH600": 6},
    {"Name": "Amol Sanjay Bhalerao", "MATH608": 7, "MATH615": 6, "CSCI605": 9, "ERTH600": 6},
    {"Name": "Khushi - Choudhary", "MATH608": 9, "MATH615": 9, "CSCI605": 10, "ERTH600": 8},
    {"Name": "Yizhak D Cohen", "MATH608": 10, "MATH615": 6, "CSCI605": 9, "ERTH600": 10},
    {"Name": "Jesse C Coulson", "MATH608": 8, "MATH615": 6, "CSCI605": 6, "ERTH600": 5},
    {"Name": "Nate Dailey", "MATH608": 6, "MATH615": 10, "CSCI605": 9, "ERTH600": 10},
    {"Name": "Zakir Sajid Elaskar", "MATH608": 9, "MATH615": 7, "CSCI605": 8, "ERTH600": 7},
    {"Name": "Anand Kumar Gangavarapu", "MATH608": 9, "MATH615": 8, "CSCI605": 10, "ERTH600": 5},
    {"Name": "Snehitha Gorantla", "MATH608": 8, "MATH615": 10, "CSCI605": 5, "ERTH600": 5},
    {"Name": "Kalyaan Kanugula", "MATH608": 10, "MATH615": 6, "CSCI605": 6, "ERTH600": 7},
    {"Name": "Angel M Martinez", "MATH608": 9, "MATH615": 5, "CSCI605": 9, "ERTH600": 8},
    {"Name": "Aditi N More", "MATH608": 6, "MATH615": 7, "CSCI605": 9, "ERTH600": 7},
    {"Name": "Nayana Nagarajappa", "MATH608": 10, "MATH615": 8, "CSCI605": 9, "ERTH600": 9},
    {"Name": "Siddhi M Pandit", "MATH608": 9, "MATH615": 9, "CSCI605": 5, "ERTH600": 8},
    {"Name": "Shivam G Pawar", "MATH608": 9, "MATH615": 5, "CSCI605": 10, "ERTH600": 8},
    {"Name": "Pushpak Sunil Rane", "MATH608": 8, "MATH615": 8, "CSCI605": 6, "ERTH600": 9},
    {"Name": "Kusuma Reddyvari", "MATH608": 7, "MATH615": 7, "CSCI605": 8, "ERTH600": 9},
    {"Name": "Abinesh S", "MATH608": 9, "MATH615": 5, "CSCI605": 5, "ERTH600": 9},
    {"Name": "Zeba Samiya", "MATH608": 7, "MATH615": 7, "CSCI605": 8, "ERTH600": 6},
    {"Name": "Jayana Sarma", "MATH608": 6, "MATH615": 6, "CSCI605": 6, "ERTH600": 9},
    {"Name": "Siddhika Seth", "MATH608": 8, "MATH615": 7, "CSCI605": 9, "ERTH600": 7},
    {"Name": "Pratik Thatte", "MATH608": 9, "MATH615": 6, "CSCI605": 6, "ERTH600": 5}
    ]

    try: 
        grades_collection.insert_many(grades_data, ordered=False) 
        print("Data has been created and stored in MongoDB collection 'grades'.") 
    except BulkWriteError as e: 
        print("Some documents were not inserted due to duplication: ",e.details)
    
    student.close()

store_data()

Data has been created and stored in MongoDB collection 'grades'.

In [23]:
from pymongo import MongoClient
import pandas as pd

def fetch_data_from_mongodb():
    client = MongoClient('mongodb://localhost:27017/')
    
    db = client["grades_db"]
    collection = db["grades"]
    
    data = list(collection.find())
    
    client.close()
    
    return data

def print_data(data):
    df = pd.DataFrame(data)
    
    df.drop(columns=['_id'], inplace=True)
    
    print(df)

data = fetch_data_from_mongodb()
print_data(data)

                       Name  MATH608  MATH615  CSCI605  ERTH600
0   Govardhan Reddy Baddala        5        8        7        6
1        Tushar A Bendarkar        5        7       10        6
2      Amol Sanjay Bhalerao        7        6        9        6
3        Khushi - Choudhary        9        9       10        8
4            Yizhak D Cohen       10        6        9       10
5           Jesse C Coulson        8        6        6        5
6               Nate Dailey        6       10        9       10
7       Zakir Sajid Elaskar        9        7        8        7
8   Anand Kumar Gangavarapu        9        8       10        5
9         Snehitha Gorantla        8       10        5        5
10         Kalyaan Kanugula       10        6        6        7
11         Angel M Martinez        9        5        9        8
12             Aditi N More        6        7        9        7
13       Nayana Nagarajappa       10        8        9        9
14          Siddhi M Pandit        9        9        5        8
15           Shivam G Pawar        9        5       10        8
16       Pushpak Sunil Rane        8        8        6        9
17         Kusuma Reddyvari        7        7        8        9
18                Abinesh S        9        5        5        9
19              Zeba Samiya        7        7        8        6
20             Jayana Sarma        6        6        6        9
21            Siddhika Seth        8        7        9        7
22            Pratik Thatte        9        6        6        5

In [21]:
from pymongo import MongoClient

def delete_database():
    client = MongoClient('mongodb://localhost:27017/')
    
    client.drop_database('grades_db')
    
    client.close()
    print("Database 'grades_db' has been deleted.")

delete_database()

Database 'grades_db' has been deleted.

In [18]:
def delete_record(name):
    client = MongoClient('mongodb://localhost:27017/')
    
    db = client["grades_db"]
    collection = db["grades"]
    
    result = collection.delete_one({"Name": name})
    print(f"Document with Name '{name}' has been deleted.")
    
    client.close()

delete_record("Govardhan Reddy Baddala")

Document with Name 'Govardhan Reddy Baddala' has been deleted.

In [19]:
def update_record(name, new_math608_score):
    client = MongoClient('mongodb://localhost:27017/')
    
    db = client["grades_db"]
    collection = db["grades"]
    
    result = collection.update_one(
        {"Name": name},
        {"$set": {"MATH608": new_math608_score}}
    )
    
    if result.modified_count > 0:
        print(f"'{name}' has been updated with new MATH608 score: {new_math608_score}")
    else:
        print(f"'{name}' or no change was made.")
    
    client.close()

update_record("Govardhan Reddy Baddala", 10)

'Govardhan Reddy Baddala' or no change was made.