# Create SQLite Database

In [5]:
import sqlite3
import pandas as pd

def store_data():
    sqlite_conn = sqlite3.connect('sqlite_grades.db')
    grade = sqlite_conn.cursor()

    # Create a table
    grade.execute('''
    CREATE TABLE IF NOT EXISTS grades (
        id INTEGER PRIMARY KEY,
        Name TEXT UNIQUE,
        MATH608 INTEGER,
        MATH615 INTEGER,
        CSCI605 INTEGER,
        ERTH600 INTEGER
    )
    ''')

    # Insert sample data
    grades_data = [ ("Govardhan Reddy Baddala", 5, 8, 7, 6), 
                   ("Tushar A Bendarkar", 5, 7, 10, 6), 
                   ("Amol Sanjay Bhalerao", 7, 6, 9, 6), 
                   ("Khushi - Choudhary", 9, 9, 10, 8), 
                   ("Yizhak D Cohen", 10, 6, 9, 10), 
                   ("Jesse C Coulson", 8, 6, 6, 5), 
                   ("Nate Dailey", 6, 10, 9, 10), 
                   ("Zakir Sajid Elaskar", 9, 7, 8, 7), 
                   ("Anand Kumar Gangavarapu", 9, 8, 10, 5), 
                   ("Snehitha Gorantla", 8, 10, 5, 5), 
                   ("Kalyaan Kanugula", 10, 6, 6, 7), 
                   ("Angel M Martinez", 9, 5, 9, 8), 
                   ("Aditi N More", 6, 7, 9, 7), 
                   ("Nayana Nagarajappa", 10, 8, 9, 9), 
                   ("Siddhi M Pandit", 9, 9, 5, 8), 
                   ("Shivam G Pawar", 9, 5, 10, 8), 
                   ("Pushpak Sunil Rane", 8, 8, 6, 9), 
                   ("Kusuma Reddyvari", 7, 7, 8, 9), 
                   ("Abinesh S", 9, 5, 5, 9), 
                   ("Zeba Samiya", 7, 7, 8, 6), 
                   ("Jayana Sarma", 6, 6, 6, 9), 
                   ("Siddhika Seth", 8, 7, 9, 7), 
                   ("Pratik Thatte", 9, 6, 6, 5) ] 
    
    # Insert multiple rows into the table 
    try:
        grade.executemany('''INSERT INTO grades (Name, MATH608, MATH615, CSCI605, ERTH600) VALUES (?, ?, ?, ?, ?) ''', grades_data) 
        df = pd.read_sql_query('SELECT * FROM grades', sqlite_conn)
        print(df)
    except sqlite3.IntegrityError as e:
        print(f"Error occurred: {e}")
    
    # Commit changes and close the connection
    sqlite_conn.commit()
    sqlite_conn.close()
    print("Data has been created and stored in 'sqlite_grades.db'.")

# Main execution
if __name__ == "__main__":
    store_data()

Error occurred: UNIQUE constraint failed: grades.Name
Data has been created and stored in 'sqlite_grades.db'.