# Create SQLite Database

In [3]:
import sqlite3
import pandas as pd

def store_data():
    sqlite_conn = sqlite3.connect('sqlite_grades.db')
    grade = sqlite_conn.cursor()

    # Create a table
    grade.execute('''
    CREATE TABLE IF NOT EXISTS grades (
        id INTEGER PRIMARY KEY,
        Name TEXT UNIQUE,
        MATH608 INTEGER,
        MATH615 INTEGER,
        CSCI605 INTEGER,
        ERTH600 INTEGER
    )
    ''')

    # Insert data
    grades_data = [ ("Govardhan Reddy Baddala", 5, 8, 7, 6), 
                   ("Tushar A Bendarkar", 5, 7, 10, 6), 
                   ("Amol Sanjay Bhalerao", 7, 6, 9, 6), 
                   ("Khushi - Choudhary", 9, 9, 10, 8), 
                   ("Yizhak D Cohen", 10, 6, 9, 10), 
                   ("Jesse C Coulson", 8, 6, 6, 5), 
                   ("Nate Dailey", 6, 10, 9, 10), 
                   ("Zakir Sajid Elaskar", 9, 7, 8, 7), 
                   ("Anand Kumar Gangavarapu", 9, 8, 10, 5), 
                   ("Snehitha Gorantla", 8, 10, 5, 5), 
                   ("Kalyaan Kanugula", 10, 6, 6, 7), 
                   ("Angel M Martinez", 9, 5, 9, 8), 
                   ("Aditi N More", 6, 7, 9, 7), 
                   ("Nayana Nagarajappa", 10, 8, 9, 9), 
                   ("Siddhi M Pandit", 9, 9, 5, 8), 
                   ("Shivam G Pawar", 9, 5, 10, 8), 
                   ("Pushpak Sunil Rane", 8, 8, 6, 9), 
                   ("Kusuma Reddyvari", 7, 7, 8, 9), 
                   ("Abinesh S", 9, 5, 5, 9), 
                   ("Zeba Samiya", 7, 7, 8, 6), 
                   ("Jayana Sarma", 6, 6, 6, 9), 
                   ("Siddhika Seth", 8, 7, 9, 7), 
                   ("Pratik Thatte", 9, 6, 6, 5) ] 
    
    # Insert multiple rows into the table 
    try:
        grade.executemany('''INSERT INTO grades (Name, MATH608, MATH615, CSCI605, ERTH600) 
                                        VALUES (?, ?, ?, ?, ?) ''', grades_data) 
        df = pd.read_sql_query('SELECT * FROM grades', sqlite_conn)
        print(df)
    except sqlite3.IntegrityError as e:
        print(f"Error occurred: {e}")
    
    # Commit changes and close the connection
    sqlite_conn.commit()
    sqlite_conn.close()

store_data()

    id                     Name  MATH608  MATH615  CSCI605  ERTH600
0    1  Govardhan Reddy Baddala        5        8        7        6
1    2       Tushar A Bendarkar        5        7       10        6
2    3     Amol Sanjay Bhalerao        7        6        9        6
3    4       Khushi - Choudhary        9        9       10        8
4    5           Yizhak D Cohen       10        6        9       10
5    6          Jesse C Coulson        8        6        6        5
6    7              Nate Dailey        6       10        9       10
7    8      Zakir Sajid Elaskar        9        7        8        7
8    9  Anand Kumar Gangavarapu        9        8       10        5
9   10        Snehitha Gorantla        8       10        5        5
10  11         Kalyaan Kanugula       10        6        6        7
11  12         Angel M Martinez        9        5        9        8
12  13             Aditi N More        6        7        9        7
13  14       Nayana Nagarajappa       10        8        9        9
14  15          Siddhi M Pandit        9        9        5        8
15  16           Shivam G Pawar        9        5       10        8
16  17       Pushpak Sunil Rane        8        8        6        9
17  18         Kusuma Reddyvari        7        7        8        9
18  19                Abinesh S        9        5        5        9
19  20              Zeba Samiya        7        7        8        6
20  21             Jayana Sarma        6        6        6        9
21  22            Siddhika Seth        8        7        9        7
22  23            Pratik Thatte        9        6        6        5

In [2]:
import os

def delete_database():
    database_path = 'sqlite_grades.db'
    
    if os.path.exists(database_path):
        os.remove(database_path)
        print(f"Database '{database_path}' has been deleted.")
    else:
        print(f"Database '{database_path}' does not exist.")

delete_database()

Database 'sqlite_grades.db' has been deleted.

In [10]:
def delete_row(name):
    # Connect to SQLite database
    sqlite_conn = sqlite3.connect('sqlite_grades.db')
    grade = sqlite_conn.cursor()
    
    # Delete row based on the name
    grade.execute('DELETE FROM grades WHERE Name = ?', (name,))
    
    # Commit changes and close the connection
    sqlite_conn.commit()
    sqlite_conn.close()
    print(f"Row with Name '{name}' has been deleted.")

    
delete_row("Govardhan Reddy Baddala")

Row with Name 'Govardhan Reddy Baddala' has been deleted.

In [9]:
def update_row(name, new_math608_score):
    # Connect to SQLite database
    sqlite_conn = sqlite3.connect('sqlite_grades.db')
    grade = sqlite_conn.cursor()
    
    # Update the MATH608 score for the specified name
    grade.execute('UPDATE grades SET MATH608 = ? WHERE Name = ?', (new_math608_score, name))
    
    # Commit changes and close the connection
    sqlite_conn.commit()
    sqlite_conn.close()
    print(f"Row with Name '{name}' has been updated with new MATH608 score: {new_math608_score}")

update_row("Govardhan Reddy Baddala", 10)

Row with Name 'Govardhan Reddy Baddala' has been updated with new MATH608 score: 10